.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: Permanent Marker;
  color: white;
  letter-spacing: 2px;
}

main {
  background-image: radial-gradient(circle at top, #1290ba 10%, #0b5972 50%);
  _background-color: #0b5972;
  width: 800px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

label {
  margin-left: 20px;
}

h2 {
  margin: 30px;
}

h3 {
  margin-left: 125px;
  color: goldenrod;
}

input[type="text"] {
  margin-top: 20px;
  margin-left: 30px;
  height: 25px;
  border-radius: 5px;
  width: 310px;
}

button {
  width: 100px;
  height: 25px;
  margin-left: 30px;
  background-color: rgb(255, 140, 0);
  border-radius: 8px;
  box-shadow: 1px 1px 10px yellow;
}

button:hover {
  background-color: gray;
  border-color: yellow;
  color: yellow;
}

ul {
  list-style-type: none;
  margin-left: 50px;
}

input[type="radio"] {
  margin-left: 30px;
  display: none;
}

input[type="checkbox"] {
  margin-top: 30px;
}

form > label {
  margin-left: 50px;
}

.delete-button {
  width: 200px;
  margin-top: 30px;
}

.is-done {
  color: rgb(4, 167, 4);
}

.is-not-done {
  color: rgb(255, 140, 0);
}

.checked-radio {
  background-color: rgb(255, 140, 0);
  border-radius: 10px;
  box-shadow: 1px 1px 10px yellow;
}
