.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: Permanent Marker;
  color: white;
  letter-spacing: 2px;
}

main {
  background-image: radial-gradient(circle at top, #1290ba 30%, #0b5972 90%);
  width: 800px;
  min-height: 430px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

h2 {
  margin: 30px;
}

p {
  margin-left: 90px;
  font-size: 25px;
  color: goldenrod;
}

input[type="text"] {
  margin-top: 20px;
  margin-left: 30px;
  height: 25px;
  border-radius: 5px;
  width: 310px;
}

label > button {
  width: 60px;
  height: 25px;
  margin-right: 5px;
  margin-top: 5px;
  background-color: rgb(255, 140, 0);
  border-radius: 8px;
  box-shadow: 0px 0px 8px yellow;
  float: right;
  color: white;
}

button:hover {
  background-color: gray;
  border-color: yellow;
  color: yellow;
}

ul {
  list-style-type: none;
  margin-left: 30px;
}

li {
  margin-top: 30px;
}

input[type="radio"] {
  margin-left: 30px;
  display: none;
}

form > label {
  text-align: center;
  margin-left: 50px;
  width: 100px;
  display: inline-block;
  border: 1px solid transparent;
}

form > label:hover {
  border: 1px solid rgb(221, 221, 208);
  border-radius: 20px;
}

#add-button {
  width: 100px;
  height: 25px;
  margin-left: 30px;
  background-color: rgb(255, 140, 0);
  border-radius: 8px;
  box-shadow: 0px 0px 8px yellow;
  color: white;
}

.is-done {
  color: rgb(4, 167, 4);
  box-shadow: 0px 0px 2px rgb(221, 221, 208);
  width: 650px;
  height: 34px;
  border-radius: 5px;
}

.is-done:hover,
.is-not-done:hover {
  background-color: rgb(219, 217, 217);
  transition: background-color 0.3s;
}

.is-not-done {
  color: rgb(255, 140, 0);
  box-shadow: 0px 0px 2px rgb(221, 221, 208);
  width: 650px;
  height: 34px;
  border-radius: 5px;
}

.checked-radio {
  background-color: rgb(255, 140, 0);
  border-radius: 10px;
  box-shadow: 0px 0px 10px yellow;
  transition: background-color 0.3s;
}
